@font-face {
    font-family: 'Roboto-Regular', sans-serif;
    src: url('..fonts/Roboto-Regular.woss2') format('woff2'), 
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;

}